Repository junioroga/animall: changes, and which lefthook commands are due for each by the changed paths.
All: type-check, eslint, spelling, markdown-link-check

type-check:
  run: yarn typecheck

eslint:
  run: yarn lint {staged_files}

spelling:
  run: yarn cspell {staged_files}

markdown-link-check:
  run: yarn markdown-link-check {staged_files}

chore: change flashlist to flatlist because bugs
  cspell.config.yaml
  package.json
  src/components/HorizontalCard/HorizontalCard.tsx
  src/components/VerticalCard/VerticalCard.tsx
  src/context/ResponsiveCards.tsx
  src/pages/Home/AnimeRanking/AnimeRanking.tsx
  src/pages/ListAnime/AnimeList/AnimeList.tsx
  src/pages/ListRanking/AnimeRanking/AnimeRanking.tsx
  yarn.lock
Due: type-check, eslint, spelling

feat: improve synopsis component
  src/pages/AnimeDetails/Synopsis/Synopsis.tsx
Due: type-check, eslint, spelling

chore: remove pre push hook, its not necessary anymore
  .husky/pre-push
Due: none

fix: adjusting blurhash of images
  package.json
  src/config/general.ts
  src/pages/Home/AnimeRanking/AnimeRanking.tsx
  src/pages/ListAnime/AnimeList/AnimeList.tsx
  src/pages/ListAnime/ListAnime.tsx
  src/pages/ListRanking/AnimeRanking/AnimeRanking.tsx
  yarn.lock
Due: type-check, eslint, spelling

chore: upgrade tamagui and expo
  package.json
  yarn.lock
Due: none

refactor: change syntax for new way to gettokens on tamagui
  cspell.config.yaml
  package.json
  src/components/HorizontalCard/HorizontalCard.tsx
  src/components/VerticalCard/VerticalCard.tsx
  src/context/ResponsiveCards.tsx
  src/navigators/BottomTab/BottomTab.tsx
  src/pages/AnimeDetails/AnimeDetails.tsx
  src/pages/AnimeDetails/Chart/Chart.tsx
  src/pages/AnimeDetails/HeaderDetails/HeaderDetails.tsx
  src/pages/AnimeDetails/Recommendations/Recommendations.tsx
  src/pages/AnimeDetails/Skeleton/Skeleton.tsx
  src/pages/AnimeDetails/Videos/Videos.tsx
  src/pages/Home/AnimeRanking/AnimeRanking.tsx
  src/pages/Home/AnimeRanking/AnimeRanking.web.tsx
  src/pages/Home/AnimeRanking/SkeletonHorizontal/SkeletonHorizontal.tsx
  src/pages/Home/AnimeRanking/SkeletonVertical/SkeletonVertical.tsx
  src/pages/Home/Home.tsx
  src/pages/ListAnime/AnimeList/AnimeList.tsx
  src/pages/ListAnime/AnimeList/Skeleton/Skeleton.tsx
  src/pages/ListRanking/AnimeRanking/AnimeRanking.tsx
  src/pages/ListRanking/Skeleton/Skeleton.tsx
  src/pages/Videos/Videos.tsx
  yarn.lock
Due: type-check, eslint, spelling

chore: dump expo and tamagui version
  package.json
  src/pages/Videos/Videos.tsx
  tamagui-web.css
  yarn.lock
Due: type-check, eslint, spelling

feat: adjusting tests with act
  .vscode/settings.json
  biome.json
  jest.config.js
  jest.setup.js
  package.json
  src/components/EmptyState/__test__/EmptyState.spec.tsx
  src/components/Header/__test__/Header.spec.tsx
  src/components/HorizontalCard/HorizontalCard.tsx
  src/components/HorizontalCard/__test__/HorizontalCard.spec.tsx
  src/components/Search/__test__/Search.spec.tsx
  src/components/Switch/__test__/Switch.spec.tsx
  src/components/VerticalCard/VerticalCard.tsx
  src/components/VerticalCard/__test__/VerticalCard.spec.tsx
  src/pages/Videos/__test__/Videos.spec.tsx
  test/test-utils.tsx
  yarn.lock
Due: type-check, eslint, spelling

chore: update tamagui and expo
  package.json
  src/pages/AnimeDetails/Recommendations/Recommendations.tsx
  tamagui-web.css
  yarn.lock
Due: type-check, eslint, spelling

feat: deleted old husky folder
  .husky/commit-msg
  .husky/pre-commit
  .husky/prepare-commit-msg
Due: none

chore: update biome configuration
  .vscode/settings.json
  src/pages/ListAnime/AnimeList/AnimeList.tsx
Due: type-check, eslint, spelling

feat: create hook useDebounceValue to make incremental request when user typing
  src/components/Search/Search.tsx
  src/components/Search/__test__/Search.spec.tsx
  src/hooks/index.ts
  src/hooks/useDebounceValue/index.ts
  src/hooks/useDebounceValue/useDebounceValue.tsx
  src/pages/ListAnime/ListAnime.tsx
Due: type-check, eslint, spelling

feat: adjust biome rules and update libs
  app.json
  biome.json
  global.css
  jest.setup.js
  package.json
  src/App.tsx
  src/components/EmptyState/EmptyState.tsx
  src/components/EmptyState/__test__/EmptyState.spec.tsx
  src/components/Header/__test__/Header.spec.tsx
  src/components/HorizontalCard/__test__/HorizontalCard.spec.tsx
  src/components/Image/Image.tsx
  src/components/Image/Image.web.tsx
  src/components/Image/__test__/Image.spec.tsx
  src/components/Input/__test__/Input.spec.tsx
  src/components/Loading/__test__/Loading.spec.tsx
  src/components/Switch/__test__/Switch.spec.tsx
  src/components/Text/__test__/Text.spec.tsx
  src/components/VerticalCard/__test__/VerticalCard.spec.tsx
  src/pages/AnimeDetails/AnimeDetails.tsx
  src/pages/AnimeDetails/AnimeNumbers/AnimeNumbers.tsx
  src/pages/AnimeDetails/Chart/Chart.tsx
  src/pages/AnimeDetails/Genres/Genres.tsx
  src/pages/AnimeDetails/HeaderDetails/HeaderDetails.tsx
  src/pages/AnimeDetails/MoreInfo/MoreInfo.tsx
  src/pages/AnimeDetails/Recommendations/Recommendations.tsx
  src/pages/AnimeDetails/RelatedAnime/RelatedAnime.tsx
  src/pages/AnimeDetails/Synopsis/Synopsis.tsx
  src/pages/AnimeDetails/Videos/Videos.tsx
  src/pages/Home/AnimeRanking/AnimeRanking.web.tsx
  src/pages/Home/AnimeRanking/ButtonsScrollHorizontalWeb/ButtonsScrollHorizontalWeb.tsx
  src/pages/ListAnime/AnimeList/AnimeList.tsx
  src/pages/ListRanking/FiltersSheet/FiltersSheet.tsx
  src/pages/ListRanking/ListRanking.tsx
  src/pages/Settings/Settings.tsx
  src/pages/Videos/Player/Player.tsx
  src/pages/Videos/Player/Player.web.tsx
  src/pages/Videos/Videos.tsx
  tamagui-web.css
  test/test-utils.tsx
  yarn.lock
Due: type-check, eslint, spelling

docs: change reference asyncstorage to mmkv and describe eject to bareworkflow
  README.md
Due: spelling, markdown-link-check

Path conditions:
  type-check: any of: *.{ts,tsx}
  eslint: any of: *.{js,ts,jsx,tsx}
  spelling: any of: *.{js,ts,jsx,tsx,md}
  markdown-link-check: any of: *.md
